name: Uses Examples

on:
  workflow_dispatch:

jobs:
  example:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6-beta

      - name: Install Python 
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Run python script
        run: python my_script.py
